.members-table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: center;
  min-width: 500px;
  //max-width: 850px;
  //margin: 0 auto;
}

.mat-header-cell {
  text-align: left;
  max-width: 300px;
}
