.footer-content-right {
  color: #eae6e6;
  background-color: rgba(24,21,80,0.69);
  height: 30px;
  width: 100%;
  padding-top:20px;
  float: left;
}
.rights {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  padding-left: 45%;
}
