.list {
  width: 80%;
  margin: auto;
  padding-top: 10px;
}

.members-table {
  width: 100%;
  overflow-x: auto;
  //overflow-y: hidden;
  text-align: center;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.filter {
  display: block;
}

.header-cell {
  padding: 5px;
}

.advanced-search-field {
  margin-left: 15px;
}
