<div class="list">
  <div *ngIf="!showAdvancedSearch" class="">
    <mat-form-field>
      <input
        id="search-list"
        type="text"
        (keyup)="applyFilter($event.target)"
        placeholder="Search"
        matInput
      />
    </mat-form-field>
  </div>

  <mat-slide-toggle
    [formControl]="toggleAdvanced"
    (change)="onToggleAdvanceChange()"
    >Advanced search</mat-slide-toggle
  >

  <div *ngIf="showAdvancedSearch" class="advanced-search">
    <mat-form-field class="advanced-search-field">
      <input
        type="text"
        [formControl]="nameFilter"
        placeholder="Search by name"
        matInput
      />
    </mat-form-field>
    <mat-form-field class="advanced-search-field">
      <input
        type="text"
        [formControl]="titleFilter"
        placeholder="Search by title"
        matInput
      />
    </mat-form-field>
    <mat-form-field class="advanced-search-field">
      <input
        type="text"
        [formControl]="partyFilter"
        placeholder="Search by party"
        matInput
      />
    </mat-form-field>
    <mat-form-field class="advanced-search-field">
      <input
        type="text"
        [formControl]="stateFilter"
        placeholder="Search by state"
        matInput
      />
    </mat-form-field>
    <mat-form-field class="advanced-search-field">
      <input
        type="text"
        [formControl]="genderFilter"
        placeholder="Search by gender"
        matInput
      />
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <mat-table
      [dataSource]="dataSource"
      class="members-table"
      matSort
      matSortDirection="asc"
    >
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header="first_name"
          >Name</mat-header-cell
        >
        <mat-cell *matCellDef="let element"
          >{{ element.first_name }} {{ element.last_name }}</mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Title</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.title }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="party">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Party</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{
          element.party | partyName
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >State</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.state }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Gender</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{
          element.gender | gender
        }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="navigateDetails(row.id)"
      ></mat-row>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[7, 14, 21]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
