<div class="list">
  <mat-form-field>
    <input type="text" placeholder="Search" matInput>
  </mat-form-field>
  <mat-table [dataSource]="membersList" class="members-table mat-elevation-z8" matSort matSortDirection="asc">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.first_name}} {{element.last_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.title}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="party">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Party</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.party | partyName}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="navigateDetails(row.id)"></mat-row>

  </mat-table>
</div>
