<div class="member-panel">
  <h1>Member details</h1>

  <mat-card>
    <div class="" *ngIf="member$ | async as member">
      <h2>{{member.roles[0].short_title}} {{member.first_name}} {{member.middle_name}} {{member.last_name}}</h2>
      <div class="general-details">
        <mat-card>
          <h3>General details</h3>
          <mat-list>
            <mat-list-item >Title: {{member.roles[0].title}}</mat-list-item>
            <mat-list-item >Party: {{member.current_party | partyName}}</mat-list-item>
            <mat-list-item >Gender: {{member.gender | gender}}</mat-list-item>
            <mat-list-item >Birth date: {{member.date_of_birth | date}}</mat-list-item>
            <mat-list-item >In office: {{member.in_office ? 'Yes' : 'No'}}</mat-list-item>
          </mat-list>
        </mat-card>
      </div>
    </div>
  </mat-card>
</div>

